*{
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: left;
  margin: 20px 40px;
}

.dojo{
  font-size: 60px;
  padding: 5px;
}
.things{
  font-size: 30px;
  margin: 5px;
}
ul{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}
ul li{
  list-style: none;
}